@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');



html {
    font-family: 'Bebas Neue';
    font-family: 'Poppins', sans-serif;

}


body {
    margin: 0;

}


h1,
span {

    margin: 0;
    color: rgb(255, 254, 254);
}


.container {

    max-width: 1920px;
    width: 100%;
}

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

/*Navegação*/

nav {
    position: fixed;
    top: 0;
    height: 160px;
    width: 100%;
    z-index: 1;
    background-color: rgb(14, 1, 1);
    border-bottom: 3px solid rgb(0, 0, 212);
    background-color: rgb(35, 35, 77);
}

nav:after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(11, 11, 228);
}

#logo {
    width: 350px;
    height: 150px;
    margin-top: 5px;
    float: left;
    border-radius: 30px;
}


.nav-container ul {
    float: right;
    height: 200px;
    line-height: 100px;
    margin: 0;
    font-family: 'Bebas Neue', 'Franklin Gothic Medium';
    font-size: 28px;
    width: 100%;
}


.nav-container li {

    list-style: none;
    float: right;
    margin: 0 15px;
}


.nav-container li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: -5s;
}


.nav-container li a {
    color: rgb(255, 255, 255);
}


.Nome-marca {
    margin: 0;
    position: relative;
    text-align: center;
    margin-top: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.nav-container a:link a:visited, a:active {
	text-decoration: none;
	}
.nav-container a:hover {text-decoration: underline;
	color:rgb(245, 245, 245);
	font-size:130%;
	}


    #busca {
        margin:0 auto;
        padding:0;
        float: right;
        }
        
        #txtbusca {
        border:0px solid rgb(0, 0, 0);
        background:rgba(180, 180, 180, 0.315);
        width:260px;
        height:23px;
        margin:0 auto;
        padding:5px 0 5px 5px;
        float:left; 
        line-height:36px;
        border-radius: 10px;
        }


        #btnBusca {
        background:rgb(35, 35, 77);
        position:relative;
        border:0px solid #222;
        color:rgb(255, 255, 255); 
        margin:0 auto;
        padding:10px;
        border:0 none;
        font-size:11px;
        font-weight:bold;
        text-transform:uppercase;
        border-radius: 10px;
        }

        #btnBusca:hover {
        background:rgb(11, 11, 228); 
        }        


        .main{
            margin-top: 170px;
        }
            

